.date{
    size: 300px;
}

.button{
    color: white;
    border-color: white;
}


.sighting-text{
    border: 2px;
    border-color: red;
    overflow: inherit;
}

.label-group{
    background-color: rgb(250, 183, 14);
    border: 200px;
    border-radius: 200px;
    
}

.table{
    background-color: rgb(180, 143, 51);
    overflow: inherit;
}